
@using NguyenThiPhuongUyen_2001170230_doAn.Models
@using PagedList.Mvc;
@model PagedList.PagedList<NguyenThiPhuongUyen_2001170230_doAn.Models.THUONG_HIEU>

@{
    ViewBag.Title = "Thương hiệu";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>QUẢN LÝ THƯƠNG HIỆU</h2>
<p>@Html.ActionLink("THÊM MỚI","ThemThuongHieu")</p>
<table class="table" border="1" align="center">
    <tr>
        <th style="width:120px">Tên thương hiệu </th>
        <th style="width:100px">Mã thương hiệu </th>
        <th style="width:200px">Hình ảnh</th>
        <th style="width:200px"></th>
    </tr>
    @foreach(var item in Model){
    <tr>
        <td>@Html.DisplayFor(m=>item.TenTH)</td>
        <td>@Html.DisplayFor(m=>item.MaTH)</td>
        <td><img src="@Url.Content("~/Content/HinhAnh/ThuongHieu/"+item.Images)" width="100px" /></td>
        <td>
            <button class="btn btn-danger"> @Html.ActionLink("Sửa", "SuaThuongHieu", new { id = item.MaTH })</button>
            <button class="btn btn-secondary">@Html.ActionLink("Chi tiết", "ChiTietThuongHieu", new { id = item.MaTH })</button>
            <button class="btn btn-warning">@Html.ActionLink("Xóa", "XoaThuongHieu", new { id = item.MaTH })</button>
        </td>
    </tr>
    }
</table>
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    <div class="menuTrang">
        @Html.PagedListPager(Model, page => Url.Action("ThuongHieu", new {page=page }))
    </div>

